.box {
    position: relative;
    z-index: 30;
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    text-align: center;
}
.wrp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 50px);
}
.menuExample{
    border: 1px solid #000;
    border-radius: 30px;
    /*height: 630px;*/
    /*@media (max-width: 450px) {*/
    /*    border-radius: 40px;*/
    /*}*/

}
.menuExampleImage{
    width: 100%;
    border-radius: 30px;
    height: 100%;
    object-fit: cover;
}
.text{
    font-size: 22px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}
.title{
    font-size: 77px;
    font-family: var(--font2);
    line-height: 1;
    margin-bottom: 25px;
}